@import url('https://fonts.googleapis.com/css2?family=roboto,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

body {
    font-family:"roboto",sans-serif;
}
.main-container {
    width: 100%;
    max-width: 1530px;
    margin: auto;
}
.btn {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding-inline: 30px;
    padding-block: 15px;
    border-radius: 25px;
}
.btn:hover {
    cursor: pointer;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 70px;
    padding-block: 25px;
}
.logo-heading {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
}
.main-heading span{
    color: #ccab7a;
}

.navlist{
    display: flex;
    justify-content: space-between;
    gap: 18px;
}
.home-dropdown{
    position: relative;
}
.home-dropbtn {
    color: black;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.home-dropdown-content {
    position: absolute;
    transform: translate(-50px,43px);
    display: none;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
}
.home-dropdown-content a {
    display: flex;
    color: #fff;
    padding-block:10px;
}
.home-dropbtn:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
}
.home-dropdown:hover .home-dropdown-content{
    display: block;
}

.pages-dropdown{
    position: relative;
}
.pages-dropbtn {
    color: black;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.pages-dropdown-content {
    position: absolute;
    transform: translate(-50px,43px);
    display: none;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
}
.pages-dropdown-content a {
    display: flex;
    color: #fff;
    padding-block:10px;
}
.pages-dropbtn:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
}
.pages-dropdown:hover .pages-dropdown-content{
    display: block;
}

.blog-dropdown{
    position: relative;
}
.blog-dropbtn {
    color: black;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.blog-dropdown-content {
    position: absolute;
    transform: translate(-50px,43px);
    display: none;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
}
.blog-dropdown-content a {
    display: flex;
    color: #fff;
    padding-block:10px;
}
.blog-dropbtn:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
}
.blog-dropdown:hover .blog-dropdown-content{
    display: block;
}

.shop-dropdown{
    position: relative;
}
.shop-dropbtn {
    color: black;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.shop-dropdown-content {
    position: absolute;
    transform: translate(-50px,43px);
    display: none;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
}
.shop-dropdown-content a {
    display: flex;
    color: #fff;
    padding-block:10px;
}
.shop-dropbtn:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
}
.shop-dropdown:hover .shop-dropdown-content{
    display: block;
}
.contact-dropbtn {
    color: black;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.contact-dropbtn:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
}

.btn-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}
.header-btn {
    background-color: #ccab7a;
    font-size: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding-inline: 30px;
    padding-block: 15px;
    border-radius: 25px;
}
.header-btn:hover {
    cursor: pointer;
}


#home {
    background-image: url(./Images/home\ page\ image\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-inline: 120px;
    justify-content: space-between;
}
.home-content p {
    font-size: 15px;
    font-weight: bold;
    color: #f3f0ee;
}
.home-content h1 {
    padding-block: 30px;
    font-size: 70px;
}
.home-content {
    font-size: 40px;
    color: #fffefe;
}
.home-content button {
    font-size: 15px;
    background-color: #94a85c;
}
.calender {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
}
.calender-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.calender-header button {
    background-color: #fff;
    padding: 10px;
}
.days {
   display: flex;
   justify-content: space-between;
   background-color: #f6f5ef;
   padding-block: 10px;
}
.day {
    text-align: center;
    padding: 5px;
}
.dates {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
    padding: 10px;
    padding-block: 20px;
}
.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.date.active{
    background-color: black;
    color: #fff;
    border-radius: 5px;
}
.date:hover {
    background-color: #94a85c;
    border-radius: 5px;
}


#our-services {
    background-color: #f6f5ef;
}
.our-services-section1 {
    display: flex;
    justify-content: space-between;
    padding-inline: 120px;
    padding-block: 100px;
}

.section1-content1-text p{
    color: #92918b;
    font-size: 18px;
    line-height: 1.6;
}
.section1-profile{
    display: flex;
    padding-top: 40px;
    align-items: center;
}
.profile-image {
    width: 80px;
    height: 80px;
}
.profile-content {
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.profile-content h1 {
    color: black;
}
.profile-content p {
    color: #a2a09a;
}

.section1-content2 .para1{
    text-indent: 10px;
}
.section1-content2 .para2 {
    padding-top: 20px;
}
.section1-content2 i {
    color: black;
    font-size: 40px;
}
.section1-content2 p {
    color: #92918b;
    font-size: 18px;
    line-height: 1.6;
}

.section1-content3 p {
    color: #92918b;
    line-height: 1.6;
    font-size: 18px;
}
.section1-content3 .para2{
    padding-top: 20px;
}

.our-services-section2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 60px;
}

.online-therapy {
    background-image: url(./Images/online\ therapy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}
.online-therapy:hover {
    cursor: pointer;
    background-color: rgba(236, 236, 164, 0.5); 
    background-blend-mode: overlay; 
}
.online-therapy:hover {
    cursor: pointer;
}
.online-therapy-text {
    padding-top: 250px;
}
.online-therapy-text h1 {
    font-size: 30px;
}
.online-therapy-text p {
    padding-top: 10px;
    color: #dcdfd2;
}
.family-therapy{
    background-image: url(./Images/family\ therapy.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 350px;
    height: 350px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}
.family-therapy:hover {
    cursor: pointer;
    background-color: rgba(236, 236, 164, 0.5); 
    background-blend-mode: overlay; 
}
.family-therapy-text {
    padding-top: 250px;
}
.family-therapy-text h1 {
    font-size: 30px;
}
.family-therapy-text p {
    padding-top: 10px;
    color: #dcdfd2;
}
.group-therapy {
    background-image: url(./Images/group\ therapy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}
.group-therapy:hover {
    cursor: pointer;
    background-color: rgba(236, 236, 164, 0.5); 
    background-blend-mode: overlay; 
}
.group-therapy-text {
    padding-top: 250px;
}
.group-therapy-text h1 {
    font-size: 30px;
}
.group-therapy-text p {
    padding-top: 10px;
    color: #dcdfd2;
}
.service-btn {
    background-color: #ccab7a;
}
.our-services-btn {
    text-align: center;
    padding-bottom: 50px;
}

 
#support {
    display: flex;
    gap: 100px;
    padding-inline: 70px;
    margin-bottom: 70px ;
}
.support-section1 {
    padding-top: 100px;
}
.support-section1-context1 {
    display: flex;
}
.section1-text {
    background-color: #94a85c;
    width: 300px;
    height: 320px;
    border-radius: 15px;
    padding: 10px;
}
.section1-text h3 {
    color: #f7f7f0;
    padding-top: 20px;
}
.section1-text h2 {
    color: #fffefe;
    padding-top: 150px;
    font-size: 40px;
}
.section1-image1 {
    width: 300px;
    height: 320px;
    padding-left: 20px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    
}
.section1-image2 {
    width: 600px;
    height: 320px;
    border-radius: 15px;
    padding-top: 20px;
    border-top-left-radius: 15px;
}


.support-section2 {
    overflow: auto;
    height: 750px;
    padding-top: 200px;
}
.support-section2::-webkit-scrollbar {
    display: none;
}
.support-section2-text h3 {
    font-size: 15px;
    letter-spacing: 1px;
    color: #3a3936;
}
.support-section2-text h1 {
    font-size: 55px;
    color: #21201d;
    padding-top: 20px;
    letter-spacing: 1px;
}
.support-section2-text p {
    font-size: 16px;
    color: #a5a49f;
}
.support-section2-text .para1 {
    line-height: 1.5;
    padding-top: 15px;
}
.support-section2-text .para2 {
    line-height: 1.5;
    padding-top: 18px;
}

.humanistic {
    padding-top: 70px;
}
.humanistic h3 {
    font-size: 25px;
    padding-top: 15px;
}
.humanistic p {
    font-size: 16px;
    padding-top: 15px;
    line-height: 1.5;
    color: #a5a49f;
}

.Behavioral {
    padding-top: 50px;
}
.Behavioral h3 {
    font-size: 25px;
    padding-top: 15px;
}
.Behavioral p {
    font-size: 16px;
    padding-top: 15px;
    line-height: 1.5;
    color: #a5a49f;
}

.Interpersonal {
    padding-top: 50px;
}
.Interpersonal h3 {
    font-size: 25px;
    padding-top: 15px;
    color: #21201d;
}
.Interpersonal p {
    font-size: 16px;
    padding-top: 15px;
    line-height: 1.5;
    color: #a5a49f;
}

.Mindfullness {
    padding-top: 50px;
}
.Mindfullness h3 {
    font-size: 25px;
    padding-top: 15px;
}
.Mindfullness p {
    font-size: 16px;
    padding-top: 15px;
    line-height: 1.5;
    color: #a5a49f;
}

.Existential {
    padding-top: 50px;
}
.Existential h3 {
    font-size: 25px;
    padding-top: 15px;
}
.Existential p {
    font-size: 16px;
    padding-top: 15px;
    line-height: 1.5;
    color: #a5a49f;
}

#subscribe {
    background-image: url(./Images/thinking\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playbtn {
    border: 1px solid black;
    border-radius: 50%;
    padding: 30px; 
    background: none;
}
.playbtn:hover {
    cursor: pointer;
}

.inputs-container {
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
    padding-block: 80px;
    align-items: center;
}
.input-heading h1 {
    font-size: 50px;
}
.input-email input{
    border: none;
    outline: none;
    font-size: 15px;
    width: 400px;
    padding-bottom: 20px;
}
.input-line {
    border-bottom: 1px solid black;
}
.checkbox {
    display: flex;
    align-items: center;
    padding-top: 20px;
    color: #92918b;
}
.checkbox input {
    background-color: #b4b3ae;
}
.checkbox input:hover {
    cursor: pointer;
}
.checkbox label {
    font-size: 12px;
    padding-left: 10px;
}
.subscribe {
    display: flex;
    align-items: center;
}
.subscribe:hover {
    color: #ccab7a;
    cursor: pointer;
}
.subscribe h3 {
    font-size: 20px;
    padding-left: 15px;
}


#packages {
    background-color: #f6f5ef;
    display: flex;
    padding-bottom: 100px;
}
.package-content1 {
    text-align: center;
    background-color: #fff;
    margin-top: 100px;
    margin-left: 120px;
    border-radius: 10px;
    padding: 50px;
    height: 500px;
}
.para1 {
    color: #969590;
    padding-top: 15px;
}
.package-content1 h2 {
    padding-top: 20px;
}
.package-content1 h3 {
    padding-block: 15px;
    color: #969590;
}
.package-content1 h3 span{
    font-size: 45px;
    color: black;
}
.package-content1 h3 sup {
    color: black;
}
.package-content1 p {
    color: #92918e;
    padding-top: 10px;
}
.packagebtn {
    background-color: #ccab7a;
    margin-top: 30px;
}
.packagebtn:hover {
    background-color: #bfb474;
}


.package-content2 {
    text-align: center;
    background-color: #fff;
    margin-top: 150px;
    margin-left: 30px;
    border-radius: 10px;
    padding: 50px;
}
.para2 {
    color: #969590;
    padding-top: 15px;
}
.package-content2 h2 {
    padding-top: 20px;
}
.package-content2 h3 {
    padding-block: 15px;
    color: #969590;
}
.package-content2 h3 span{
    font-size: 45px;
    color: black;
}
.package-content2 h3 sup {
    color: black;
}
.package-content2 p {
    color: #92918e;
    padding-top: 10px;
}
.package1btn {
    background-color: black;
    margin-top: 30px;
}
.package1btn:hover {
    background-color: #bfb474;
}

.package-content3 {
    margin-top: 220px;
    margin-left: 150px;
}
.package-content3 h3 {
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
}
.package-content3 h1 {
    font-size: 60px;
    margin-top: 12px;
}
.para3 {
    color: #92918e;
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.package-content3 p {
    margin-top: 15px;
    letter-spacing: 1px;
}
.package-content3 p i {
    color: #ccab7a;
    padding-right: 15px;
}


#review {
    text-align: center;
    background-color: #f6f5ef;
    padding-bottom: 100px;
    position: relative;
}
.profile-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.profile-image1 {
    width: 70px;
}
.profile-image2 {
    width: 70px;
}
.profile-image3 {
    width: 70px;
}
.review-container i {
    color: #a9bc72;
    font-size: 30px;
}
.review-content1 p {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 50px;
    color: #21201d;
    word-spacing: 1px;
    letter-spacing: 1px;
}
.review-content1 h3 {
    font-size: 20px;
    margin-top: 30px;
}
.review-content1 h5 {
    color: #92918b;
    font-size: 15px;
    font-weight: 200;
    margin-top: 10px;
}
.profile-images {
    margin-top: 50px;
}
.bg-image1 {
    position: absolute;
    top: 0;
    left: 0;
}

#blog {
    margin-bottom: 130px;
}
#blog h4 {
    font-size: 15px;
    padding-left: 160px;
    margin-top: 100px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
.blog-content {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.blog-section1 h1 {
    font-size: 50px;
}
.phy-image1 {
    width: 500px;
    height: 550px;
    border-radius: 20px;
    margin-top: 100px;
    transition: transform 0.3s ease;
}
.phy-image1:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.blog-section1 p {
    font-size: 13px;
    font-weight: bold;
    margin-top: 25px;
}
.blog-section1 p span {
    color: #b4b3ae;
}
.blog-section1 h2 {
    font-size: 35px;
    margin-top: 15px;
}

.blog-section2 p {
    color: #92918e;
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 1px;
    letter-spacing: 1px;
}
.blog-section2 .para2 {
    margin-top: 13px;
}
.phy-image2 {
    width: 500px;
    height: 550px;
    border-radius: 20px;
    margin-top: 130px;
    transition: transform 0.3s ease;
}
.phy-image2:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.blog-section2 h3 {
    font-size: 13px;
    margin-top: 25px;
}
.blog-section2 h3 span {
    color: #b4b3ae;
}
.blog-section2 h2 {
font-size: 35px;
margin-top: 15px;
}


#appoinment {
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0)), url(./Images/footer\ image.jpg);
    background-repeat: repeat;
    background-size: cover;
    text-align: center;
    background-position: top;
}
.appoinment-container h3 {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 100px;
}
.appoinment-container h1 {
    font-size: 55px;
    color: #fff;
    margin-top: 30px;
}
.appoinment-container .footerbtn {
    background-color: #ccab7a;
    margin-block: 50px;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.footer-heading {
    display: flex;
    align-items: center;
}
.footer-heading h1 {
    font-size: 30px;
    padding-left: 10px;
}
.footer-heading h1 span {
    color: #ccab7a;
}
.footer-office {
    
}



