

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

body {
    font-family:"Onest",sans-serif;
}
.main-container {
    width: 100%;
    max-width: 1530px;
    margin: auto;
}
.btn {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding-inline: 40px;
    padding-block: 18px;
    border-radius: 30px;
}
.btn:hover {
    cursor: pointer;
    background-color: #c2b672;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 70px;
    padding-block: 25px;
}
.logo-heading {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
}
.main-heading span{
    color: #ccab7a;
}

.menu-icon {
    display: none;
}
.navlist{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.navlist a {
    font-weight: 500;
    font-size: 16px;
}
.home-dropdown{
    position: relative;
}
.home-dropbtn {
    color: black;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.home-dropdown-content {
    position: absolute;
    transform: translate(-50px,43px);
    display: none;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    z-index: 10;
}
.home-dropdown-content:hover {
    display: block;
}
.home-dropdown-content a {
    display: flex;
    color: #fff;
    padding-block:10px; 
}
.home-dropbtn:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
}
.home-dropdown-content a {
    transition: transform 0.3s ease;
}
.home-dropdown-content a:hover {
    transform: translateX(10px);
}
.home-dropdown-content a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px; 
    width: 0;
    height: 1px; 
    background-color: #fff; 
    transition: width 0.5s ease; 
}
.home-dropdown-content a:hover::after {
    width: 100%; 
}

.pages-dropdown{
    position: relative;
}
.pages-dropbtn {
    color: black;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.pages-dropdown-content {
    position: absolute;
    transform: translate(-50px,43px);
    display: none;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    z-index: 10;
}
.pages-dropdown-content:hover {
    display: block;
}
.pages-dropdown-content a {
    display: block;
    color: #fff;
    padding-block:10px;
}
.pages-dropbtn:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
}
.pages-dropdown-content a {
    transition: transform 0.3s ease;
}
.pages-dropdown-content a:hover {
    transform: translateX(10px);
}
.pages-dropdown-content a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px; 
    width: 0;
    height: 1px; 
    background-color: #fff; 
    transition: width 0.5s ease; 
}
.pages-dropdown-content a:hover::after {
    width: 100%; 
}

.blog-dropdown{
    position: relative;
}
.blog-dropbtn {
    color: black;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.blog-dropdown-content {
    position: absolute;
    transform: translate(-50px,43px);
    display: none;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    z-index: 10;
}
.blog-dropdown-content:hover {
    display: block;
}
.blog-dropdown-content a {
    display: block;
    color: #fff;
    padding-block:10px;
}
.blog-dropbtn:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
}
.blog-dropdown-content a {
    transition: transform 0.3s ease;
}
.blog-dropdown-content a:hover {
    transform: translateX(10px);
}
.blog-dropdown-content a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px; 
    width: 0;
    height: 1px; 
    background-color: #fff; 
    transition: width 0.5s ease; 
}
.blog-dropdown-content a:hover::after {
    width: 100%; 
}

.shop-dropdown{
    position: relative;
}
.shop-dropbtn {
    color: black;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.shop-dropdown-content {
    position: absolute;
    transform: translate(-50px,43px);
    display: none;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    z-index: 10;
}
.shop-dropdown-content:hover {
    display: block;
}
.shop-dropdown-content a {
    display: flex;
    color: #fff;
    padding-block:10px;
}
.shop-dropbtn:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
}
.shop-dropdown-content a {
    transition: transform 0.3s ease;
    display: inline-block;
}
.shop-dropdown-content a:hover {
    transform: translateX(10px);
}
.shop-dropdown-content a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px; 
    width: 0;
    height: 1px; 
    background-color: #fff; 
    transition: width 0.5s ease; 
}
.shop-dropdown-content a:hover::after {
    width: 100%; 
}

.contact-dropbtn {
    color: black;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.contact-dropbtn:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
}

.phone-icon {
    display: none;
}
.btn-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}
.header-btn {
    background-color: #ccab7a;
    font-size: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding-inline: 30px;
    padding-block: 15px;
    border-radius: 25px;
}
.header-btn:hover {
    cursor: pointer;
    background-color: #c2b672;
}


#home {
    background-image: url(./Images/home\ page\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-inline: 120px;
    justify-content: space-between;
    padding-block: 135px;
    position: relative;
}
.home-content p {
    font-size: 15px;
    font-weight: bold;
    color: #f3f0ee;
}
.home-content h1 {
    padding-block: 30px;
    font-size: 70px;
}
.home-content {
    font-size: 40px;
    color: #fffefe;
}
.home-content button {
    font-size: 15px;
    background-color: #a4b37a;
}
.home-content button:hover {
    background-color: #94a85c;
}
.calender {
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
}
.calender-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.calender-header .monthyear {
    font-size: 25px;
    font-weight: bold;
}
.calender-header button {
    background-color: #fff;
    padding: 10px;
}
.days {
   display: flex;
   justify-content: space-around;
   background-color: #f6f5ef;
   padding-block: 10px;
   padding-inline: 20px;
}
.day {
    text-align: center;
    padding: 5px;
}
.dates {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding-block: 20px;
    padding-inline: 20px;
}
.date {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    cursor: pointer;
    width: 60px;
    height: 60px;
}
.tooltip {
    display: none;
    position: absolute;
    background-color: #f6f5ef;
    border: 1px solid lightslategray;
    color: black;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 10;
    font-size: 12px;
}

.date.active{
    background-color: black;
    color: #fff;
    border-radius: 5px;
}
.date.inactive {
    color: #c0bfbf;
}
.date.inactive:hover {
   background-color: #fff;
   cursor: not-allowed;
}
.date:hover {
    background-color: #94a85c;
    border-radius: 5px;
}

.Appointment-container {
    display: none;
    width: 100%;
    height: 150px;
    overflow: auto;
    border: 5px solid #94a85c;
    text-align: center;
    padding-inline: 40px;
}
.Appointment-container i {
    padding-right: 10px;
}
.Appointment-container h2 {
    font-size: 20px;
    margin-top: 10px;
}
.appointment1 {
    background-color: #ff6347;
    border-radius: 50px;
    margin-block: 15px;
    padding-block: 12px;
    color: #fff;
}
.appointment1:hover {
    cursor: pointer;
}
.appointment1 p {
    padding-left: 13px;
}
.appointment2 {
    background-color: #ff6347;
    border-radius: 50px;
    margin-block: 15px;
    padding-block: 12px;
    color: #fff;
}
.appointment2:hover {
    cursor: pointer;
}
.appointment2 p {
    padding-left: 13px;
}
.appointment3 {
    background-color: #ff6347;
    border-radius: 50px;
    margin-block: 15px;
    padding-block: 12px;
    color: #fff;
}
.appointment3:hover {
    cursor: pointer;
}
.appointment3 p {
    padding-left: 13px;
}

.request-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    position: absolute;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 30;
}
.main-request {
    display: flex;
    flex-direction: column;
    position: absolute;
    position: fixed;
    justify-content: center;
    width: 450px;
}
.request-heading {
    display: flex;
    background-color: #e2dfce;
    width: 100%;
    justify-content: space-between;
    padding-block: 15px;
    padding-inline: 20px;
}
.request-heading h2 {
    font-size: 19px;
}
.request-heading i {
    font-size: 25px;
}
.request-content {
    background-color: #fff;
    padding-inline: 25px;
}
.request-content h2 {
    font-size: 18px;
    padding-top: 25px;
}
.request-email input {
    border: none;
    outline: none;
    font-size: 17px;
    border-bottom: 1px solid rgb(215, 215, 202);
    padding-block: 15px;
    padding-top: 20px;
    width: 100%;
}
.request-email {
    color: antiquewhite;
}
.email-input::placeholder {
    color: rgb(195, 189, 189);
}
.password-input::placeholder {
    color: rgb(195, 189, 189);
}
.request-password input {
    border: none;
    outline: none;
    font-size: 17px;
    border-bottom: 1px solid rgb(215, 215, 202);
    padding-block: 15px;
    width: 100%;
}
.request-content p {
    padding-top: 15px;
    color: #ff6347;
}
.request-btn {
    display: flex;
    justify-content: space-between;
}
.signin {
    background-color: #ff6347;
    padding-inline: 40px;
    padding-block: 15px;
    margin-block: 30px;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}
.cancel {
    background-color: #ff6347;
    padding-inline: 40px;
    padding-block: 15px;
    margin-block: 30px;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.scroll-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    padding: 10px 15px;
    background-color:black; 
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000; 
}

.scroll-top-button:hover {
    background-color: #ccab7a
}

.please-chat {
    display: flex;
    align-items: center;
    position: absolute;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
}
.please-chat i {
    border: 1px solid rgb(73, 185, 59);
    padding: 20px;
    background-color: rgb(73, 185, 59);
    border-radius: 50px;
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}
.please-chat p {
    z-index: 1;
    font-size: 17px;
    border-radius: 16px;
    padding: 10px 15px;
    box-shadow: rgba(0, 18, 46, 0.24) 0px 6px 32px 0px;
    background: rgb(255, 255, 255); 
}


.icons-content {
    position: absolute;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 0;
    z-index: 100;
}
.buy-theme {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.buy-theme p {
    background-color: #ccab7a;
    padding: 19px;
    color: #fff;
    font-size: 12px;
    display: none;
}
.buy-theme i {
    background-color: #1082e3;
    padding: 19px;
    color: #fff;
}
.buy-theme i:hover {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-5px);
}
.buy-theme i:hover + .buy-text {
    display: block;
}

.bestseller {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
   margin-block: 2px;
}
.bestseller p {
    background-color: #ccab7a;
    padding: 20px;
    color: #fff;
    font-size: 12px;
    display: none;
}
.bestseller i {
    background-color: #1082e3;
    padding: 20px;
    color: #fff;
}
.bestseller i:hover {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-5px);
}
.bestseller i:hover + .seller-text {
    display: block;
}

.hide-panel {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.hide-panel p {
    background-color: #ccab7a;
    padding: 20px;
    color: #fff;
    font-size: 12px;
    display: none;
}
.hide-panel i {
    background-color: #1082e3;
    padding: 20px;
    color: #fff;
}
.hide-panel i:hover {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-5px);
}
.hide-panel i:hover + .hide-text {
    display: block;
}


#our-services {
    background-color: #f6f5ef;
}
.our-services-section1 {
    display: flex;
    gap: 50px;
    padding-inline: 100px;
    padding-block: 100px;
}

.section1-content1 {
    width: 550px;
}
.section1-content1-text p{
    color: #92918b;
    font-size: 18px;
    line-height: 1.6;
}
.section1-profile{
    display: flex;
    padding-top: 40px;
    align-items: center;
}
.profile-image {
    width: 80px;
    height: 80px;
}
.profile-content {
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.profile-content h1 {
    color: black;
}
.profile-content p {
    color: #a2a09a;
}

.section1-content2 {
    width: 300px;
}
.section2-container2 {
    display: flex;
    gap: 50px;
}
.section1-content2 i {
    color: black;
    font-size: 30px;
}
.section1-content2 p {
    color: #92918b;
    font-size: 18px;
    line-height: 1.6;
}
.section1-content2 .para1 span {
    color: black;
    float: left;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin-right: 10px;
}

.section1-content3 {
    width: 300px;
}
.section1-content3 p {
    color: #92918b;
    line-height: 1.6;
    font-size: 18px;
}

.our-services-section2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 60px;
}

.online-therapy {
    background-image: url(./Images/online\ therapy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}
.online-therapy:hover {
    cursor: pointer;
    background-color: rgba(236, 236, 164, 0.5); 
    background-blend-mode: overlay; 
}
.online-therapy:hover {
    cursor: pointer;
}
.online-therapy-text {
    padding-top: 300px;
    padding-bottom: 32px;
    background-color: rgba(73, 71, 71, 0.4);
    border-radius: 15px;
}
.online-therapy-text h1 {
    font-size: 30px;
}
.online-therapy-text p {
    padding-top: 10px;
    color: #dcdfd2;
}

.family-therapy{
    background-image: url(./Images/family\ therapy.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 400px;
    height: 400px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}
.family-therapy:hover {
    cursor: pointer;
    background-color: rgba(236, 236, 164, 0.5); 
    background-blend-mode: overlay; 
}
.family-therapy-text {
    padding-top: 300px;
    padding-bottom: 32px;
    background-color: rgba(73, 71, 71, 0.4);
    border-radius: 15px;
}
.family-therapy-text h1 {
    font-size: 30px;
}
.family-therapy-text p {
    padding-top: 10px;
    color: #dcdfd2;
}

.group-therapy {
    background-image: url(./Images/group\ therapy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}
.group-therapy:hover {
    cursor: pointer;
    background-color: rgba(236, 236, 164, 0.5); 
    background-blend-mode: overlay; 
}
.group-therapy-text {
    padding-top: 300px;
    padding-bottom: 32px;
    background-color: rgba(73, 71, 71, 0.4);
    border-radius: 15px;
}
.group-therapy-text h1 {
    font-size: 30px;
}
.group-therapy-text p {
    padding-top: 10px;
    color: #dcdfd2;
}
.service-btn {
    background-color: #ccab7a;
}
.our-services-btn {
    text-align: center;
    padding-bottom: 50px;
}

 
#support {
    display: flex;
    gap: 100px;
    padding-inline: 70px;
    margin-bottom: 70px;
}
.support-section1 {
    padding-top: 100px;
}
.support-section1-context1 {
    display: flex;
}   
.section1-text {
    background-color: #94a85c;
    width: 330px;
    height: 370px;
    border-radius: 15px;
    padding: 10px;
}
.section1-text i {
    font-size: 50px;
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;
}
.section1-text h3 {
    color: #f7f7f0;
    padding-top: 20px;
}
.section1-text h2 {
    color: #fffefe;
    padding-top: 70px;
    font-size: 40px;
}
.section1-image1 {
    width: 330px;
    height: 370px;
    margin-left: 20px;
    border-radius: 15px;
    border-top-left-radius: 15px;
}
.section1-image2 {
    width: 680px;
    height: 350px;
    border-radius: 15px;
    margin-top: 20px;
    border-top-left-radius: 15px;
}


.support-section2 {
    overflow: auto;
    height: 830px;
    padding-top: 280px;
    margin-top: 10px;
}
.support-section2::-webkit-scrollbar {
    width: 10px;
  }
.support-section2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
.support-section2::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
.support-section2-text h3 {
    font-size: 15px;
    letter-spacing: 1px;
    color: #3a3936;
}
.support-section2-text h1 {
    font-size: 55px;
    color: #21201d;
    padding-top: 20px;
    letter-spacing: 1px;
}
.support-section2-text p {
    font-size: 16px;
    color: #a5a49f;
}
.support-section2-text .para1 {
    line-height: 1.5;
    padding-top: 15px;
}
.support-section2-text .para2 {
    line-height: 1.5;
    padding-top: 18px;
}

.humanistic {
    padding-top: 70px;
}
.humanistic h3 {
    font-size: 25px;
    padding-top: 15px;
}
.humanistic p {
    font-size: 16px;
    padding-top: 15px;
    line-height: 1.5;
    color: #a5a49f;
}

.Behavioral {
    padding-top: 50px;
}
.Behavioral h3 {
    font-size: 25px;
    padding-top: 15px;
}
.Behavioral p {
    font-size: 16px;
    padding-top: 15px;
    line-height: 1.5;
    color: #a5a49f;
}

.Interpersonal {
    padding-top: 50px;
}
.Interpersonal h3 {
    font-size: 25px;
    padding-top: 15px;
    color: #21201d;
}
.Interpersonal p {
    font-size: 16px;
    padding-top: 15px;
    line-height: 1.5;
    color: #a5a49f;
}

.Mindfullness {
    padding-top: 50px;
}
.Mindfullness h3 {
    font-size: 25px;
    padding-top: 15px;
}
.Mindfullness p {
    font-size: 16px;
    padding-top: 15px;
    line-height: 1.5;
    color: #a5a49f;
}

.Existential {
    padding-top: 50px;
}
.Existential h3 {
    font-size: 25px;
    padding-top: 15px;
}
.Existential p {
    font-size: 16px;
    padding-top: 15px;
    line-height: 1.5;
    color: #a5a49f;
}



#subscribe {
    background-image: url(./Images/thinking\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playbtn {
    border: 1px solid #fff;
    border-radius: 100%;
    color: #fff;
    padding-inline: 30px;
    padding-block: 40px; 
    background: none;
    position: abloute;
}
.playbtn:hover {
    cursor: pointer;
}   
#video-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
 }
 .closebtn {
    position: absolute;
    background: none;
    font-size: 30px;
    color: #dbd5d5;
    padding-left: 10px;
 }
 #video {
    width: 1000px;
    height: 500px;
 }


.inputs-container {
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
    padding-block: 100px;
    align-items: center;
}
.input-section {
    display: flex;
    gap: 100px;
}
.input-heading h1 {
    font-size: 50px;
}
.input-email input{
    border: none;
    outline: none;
    font-size: 18px;
    width: 450px;
    padding-bottom: 5px;
}
.input-line {
    border-bottom: 1px solid black;
}
.checkbox {
    display: flex;
    padding-top: 20px;
    color: #92918b;
}
.checkbox input {
    background-color: #b4b3ae;
    margin-top: 4px;
}
.checkbox input:hover {
    cursor: pointer;
}
.checkbox label {
    font-size: 15px;
    padding-left: 10px;
}
.subscribe {
    display: flex;
    align-items: center;
}
.subscribe:hover {
    color: #ccab7a;
    cursor: pointer;
}
.subscribe h3 {
    font-size: 20px;
    padding-left: 15px;
}


#packages {
    background-color: #f6f5ef;
    display: flex;
    padding-bottom: 100px;
}
.package-pricelist {
    display: flex;
}
.package-content1 {
    text-align: center;
    background-color: #fff;
    margin-top: 100px;
    margin-left: 120px;
    border-radius: 10px;
    padding: 50px;
    height: 500px;
    width: 300px;
}
.package-content1 .para1 {
    color: #969590;
    padding-top: 15px;
}
.package-content1 h2 {
    padding-top: 20px;
}
.package-content1 h3 {
    padding-block: 15px;
    color: #969590;
}
.package-content1 h3 span{
    font-size: 55px;
    font-weight: 700;
    color: black;
}
.package-content1 h3 sup {
    color: black;
}
.package-content1 p {
    color: #92918e;
    padding-top: 10px;
}
.packagebtn {
    background-color: #ccab7a;
    margin-top: 30px;
}
.packagebtn:hover {
    background-color: #bfb474;
}


.package-content2 {
    text-align: center;
    background-color: #fff;
    margin-top: 170px;
    margin-left: 30px;
    border-radius: 10px;
    padding: 50px;
    width: 300px;
}
.para2 {
    color: #969590;
    padding-top: 15px;
}
.package-content2 h2 {
    padding-top: 20px;
}
.package-content2 h3 {
    padding-block: 15px;
    color: #969590;
}
.package-content2 h3 span{
    font-size: 45px;
    color: black;
}
.package-content2 h3 sup {
    color: black;
}
.package-content2 p {
    color: #92918e;
    padding-top: 10px;
}
.package1btn {
    background-color: black;
    margin-top: 30px;
}
.package1btn:hover {
    background-color: #bfb474;
}

.package-content3 {
    margin-top: 220px;
    margin-left: 130px;
    width: 450px;
}
.package-content3 h3 {
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
}
.package-content3 h1 {
    font-size: 60px;
    margin-top: 12px;
}
.para3 {
    color: #92918e;
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.package-content3 p {
    margin-top: 15px;
    letter-spacing: 1px;
}
.package-content3 p i {
    color: #ccab7a;
    padding-right: 15px;
}


#review {
    text-align: center;
    background-color: #f6f5ef;
    padding-bottom: 100px;
    position: relative;
}
.content {
    display: none;
}
.content.active {
    display: block;
}
.profile-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.profile-image1 {
    width: 70px;
}
.profile-image2 {
    width: 70px;
}
.profile-image3 {
    width: 70px;
}
.review-container i {
    color: #a9bc72;
    font-size: 30px;
}
.review-content {
    padding-inline: 300px;
}
#review-content1 p {
    font-size: 23px;
    line-height: 1.5;
    margin-top: 50px;
    color: #21201d;
    word-spacing: 1px;
    letter-spacing: 1px;
}
#review-content1 h3 {
    font-size: 20px;
    margin-top: 30px;
}
#review-content1 h5 {
    color: #92918b;
    font-size: 15px;
    font-weight: 200;
    margin-top: 10px;
}
#review-content2 p {
    font-size: 23px;
    line-height: 1.5;
    margin-top: 50px;
    color: #21201d;
    word-spacing: 1px;
    letter-spacing: 1px;
}
#review-content2 h3 {
    font-size: 20px;
    margin-top: 30px;
}
#review-content2 h5 {
    color: #92918b;
    font-size: 15px;
    font-weight: 200;
    margin-top: 10px;
}

#review-content3 p {
    font-size: 23px;
    line-height: 1.5;
    margin-top: 50px;
    color: #21201d;
    word-spacing: 1px;
    letter-spacing: 1px;
}
#review-content3 h3 {
    font-size: 20px;
    margin-top: 30px;
}
#review-content3 h5 {
    color: #92918b;
    font-size: 15px;
    font-weight: 200;
    margin-top: 10px;
}
.profile-images {
    margin-top: 50px;
}
.bg-image1 {
    position: absolute;
    top: 0;
    left: 0;
}
.profile-images img:hover {
    transition: transform 0.5s ease;
    transform: scale(1.2);
}


#blog {
    margin-bottom: 130px;
    padding-inline: 130px;
}
#blog h4 {
    font-size: 15px; 
    margin-top: 100px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
.blog-section1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.blog-section1 h1 {
    font-size: 55px;
    font-weight: 700;
    width: 550px;
}
.blog-section-para p {
    width: 620px;
    color: #92918b;
    font-size: 17px;
    line-height: 1.5;
    padding-left: 20px;
}
.phychology-image1 {
    width: 620px;
    height: 670px;
    border-radius: 15px;
    margin-top: 70px;
    overflow: hidden;
}
.phy-image1 {
    width: 620px;
    height: 670px;
    transition: transform 0.5s ease;
}
.phy-image1:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.blog-image-section1 h2 {
    font-size: 35px;
    margin-top: 15px;
    padding-left: 18px;
}
.blog-image-section1 h3 i {
    padding-right: 10px;
}

.blog-section2 {
    display: flex;
    gap: 30px;
}
.blog-section2 p {
    color: #92918e;
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 1px;
    letter-spacing: 1px;
}
.phychology-image2{
    width: 620px;
    height: 670px;
    margin-top: 130px;
    overflow: hidden;
    border-radius: 15px;
}
.phy-image2 {
    width: 620px;
    height: 670px;
    transition: transform 0.5s ease;
}
.phy-image2:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.blog-section2 h3 {
    font-size: 13px;
    margin-top: 25px;
}
.blog-section2 h3 span {
    color: #b4b3ae;
}
.blog-section2 h2 {
    font-size: 35px;
    margin-top: 15px;
}
.blog-image-section2 h3 i {
    padding-right: 10px;
}
.blog-image-section2 h2 {
    padding-left: 16px;
}


#appoinment {
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0)), url(./Images/footer\ image.jpg);
    background-repeat: repeat;
    background-size: cover;
    text-align: center;
    background-position: top;
}
.appoinment-container h3 {
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding-top: 100px;
}
.appoinment-container h1 {
    font-size: 55px;
    color: #fff;
    margin-top: 20px;
}
.appoinment-container .footerbtn {
    background-color: #ccab7a;
    margin-bottom: 100px;
    margin-top: 50px;
}



#footer {
    background-color: black;
}
.footer-container {
    display: flex;
    padding-top: 70px;
    margin-left: -70px;
}
.footer-section1 {
    display: flex;
}
.footer-section2 {
    display: flex;
    padding-left: 40px;
}
.footer-heading {
    display: flex;
    align-items: center;
    margin-top: -200px;
    margin-left: 180px;
}
.footer-heading h1 {
    font-size: 30px;
    padding-left: 10px;
    color: #fff;
}
.footer-heading h1 span {
    color: #ccab7a;
}
.footer-office {
    color: #fff;
    padding-left: 100px;
}
.footer-office h1{
    font-size: 22px;
}
.address {
    line-height: 1.8;
    padding-top: 30px;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    width: 250px;
}
.email {
    padding-top: 25px;
    text-decoration: underline;
}
.email:hover {
    cursor: pointer;
}
.num {
    padding-top: 30px;
    font-weight: bold;
    font-size: 20px;
}
.num:hover {
    cursor: pointer;
}
.link {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    color: #fff;
}
.link h1 {
    font-size: 20px;
}
.link a {
    font-size: 16px;
    padding-top: 25px;
    color: #f3f3f3;
    display: inline-block;
    position: relative;
}
.link a:hover {
    transition: transform 0.5s ease-in-out;
    transform: translateX(10px);
}
.link a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px; 
    width: 0;
    height: 1px; 
    background-color: #fff; 
    transition: width 0.5s ease; 
}
.link a:hover::after {
    width: 100%; 
}
.footer-icons {
    display: flex;
    gap: 15px;
    padding-top: 20px;
}
.get-in {
    color: #fff;
    padding-left: 250px;
}
.get-in h1 {
    font-size: 18px;
}
.facebook {
    border: 1px solid #4b4a47;
    border-radius: 55%;
    padding-inline: 12px;
    padding-block: 10px;
}
.facebook:hover {
    cursor: pointer;
    color: blue;
}
.twitter {
    border: 1px solid #4b4a47;
    border-radius: 50%;
    padding-inline: 12px;
    padding-block: 10px;
}
.twitter:hover {
    cursor: pointer;
    color: skyblue;
}
.thread {
    border: 1px solid #4b4a47;
    border-radius: 50%;
    padding-inline: 13px;
    padding-block: 10px;
}
.thread:hover {
    cursor: pointer;
    color: palevioletred;
}
.instagram {
    border: 1px solid #4b4a47;
    border-radius: 50%;
    padding-inline: 13px;
    padding-block: 10px;
}
.instagram:hover {
    cursor: pointer;
    color: violet;
}
.footer-line {
    border-bottom: 0.5px solid #4e4d4a;
    padding-top: 70px;
    margin-inline: 115px;
}
.copy-rights {
    color: #dddcd6;
    padding-left: 115px;
    padding-block: 30px;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-size: 16px;
}
.copy-rights span {
    color: #92918b;
}




@media (max-width:900px) {

    body {
        opacity: 1;
        transition: opacity 1s ease;
    }
    body.fade-out {
        opacity: 0;
    }

    .btn {
        font-size: 20px;
        padding-block: 15px;
        border-radius: 50px;
        letter-spacing: 1px;
    }
    #header {
        padding-inline: 30px;
        padding-block: 20px;
    }
    .menu-icon {
        display: block;
        font-size: 30px;
    }
    .navlist {
        display: none;
    }
    .phone-icon {
        display: block;
        border: 1px solid black;
        padding: 10px;
        border-radius: 25px;
        color: #fff;
        background-color: #21201d;
    }
    .phone-icon:hover {
        background-color: #ccab7a;
    }
    .btn-content p {
        display: none;
    }
    .header-btn {
        font-size: 20px;
    }


    #home {
        padding-inline: 20px;
        height: 60vh;
    }
    .home-content p {
        font-size: 20px;
    }
    .home-content h1 {
        padding-block: 20px;
        font-size: 48px;
    }
    .home-content button {
        font-size: 20px;
    }
    .calender {
        width: 350px;
    }
    .date {
        width: 40px;
        height: 40px;
    }

    .main-request {
        display: flex;
        flex-direction: column;
        position: absolute;
        position: fixed;
        top: 250px;
        left: 200px;
        justify-content: center;
        width: 450px;
    }


    .our-services-section1 {
        padding-inline: 30px;
        padding-block: 60px;
        gap: 30px;
    }
    .profile-content h1 {
        font-size: 20px;
        letter-spacing: -1px;
    }
    .section1-content1 {
        width: 300px;
    }
    .section1-content1-text p {
        font-size: 18px;
    }
    .section1-content2 {
        width: 200px;
    }
    .section1-content2 p {
        font-size: 18px;
    }
    .section1-content3 {
        width: 200px;
    }
    .section1-content3 p{
        font-size: 18px;
    }
    .section2-container2 {
        gap: 30px;
    }


    .our-services-section2 {
        display: flex;
        gap: 30px;
    }
    .online-therapy {
        width: 230px;
        height: 280px;
    }
    .online-therapy-text {
        padding-top: 150px;
    }
    .online-therapy-text p {
        font-size: 20px;
        padding-inline: 30px;
    }
    .family-therapy {
        width: 230px;
        height: 280px;
    }
    .family-therapy-text {
        padding-top: 150px;
    }
    .family-therapy-text p {
        font-size: 20px;
        padding-inline: 30px;
    }
    .group-therapy {
        width: 230px;
        height: 280px;
    }
    .group-therapy-text {
        padding-top: 150px;
    }
    .group-therapy-text p {
        font-size: 20px;
        padding-inline: 30px;
    }


    #support {
        display: flex;
        gap: 50px;
        padding-inline: 30px;
    }
    .support-section1 {
        position: sticky;
        top: 0;
        height: fit-content;
        padding-top: 80px;
    }
    .section1-text {
        width: 180px;
        height: 250px;
        padding-inline: 30px;
    }
    .section1-text h3 {
        font-size: 15px;
    }
    .section1-text i {
        font-size: 20px;
    }
    .section1-text h2 {
        font-size: 30px;
        padding-top: 20px;
    }
    .section1-image1 {
        width: 180px;
        height: 250px;
    }
    .section1-image2 {
        width: 380px;
        height: 250px;
    }
    .support-section2-text h1 {
        font-size: 40px;
        letter-spacing: -1px;
    }
    .support-section2 {
        overflow: none;
        height: 100%;
        padding-top: 80px;
    }



    #subscribe {
        height: 40vh;
    }
    #video {
        width: 600px;
        height: 300px;
     }


    .inputs-container {
        padding-inline: 30px;
    }
    .input-heading h1 {
        font-size: 33px;
    }
    .input-section {
        display: flex;
        gap: 20px;
    }
    .input-email input {
        width: 260px;
        font-size: 20px;
    }
    .checkbox input {
        font-size: 30px;
    }
    .checkbox label {
        font-size: 18px;
    }
    .input-line {
        width: 280px;
    }


    #packages {
        display: flex;
        flex-direction: column-reverse;
    }
    .package-content3 {
        margin-top: 100px;
        margin-left: 50px;
        width: 500px;
    }
    .package-content3 h3{
        font-size: 20px;
    }
    .package-content3 h1 {
        font-size: 45px;
    }
    .package-content3 p{
        font-size: 20px;
    }
    .package-content3 .para3 {
        padding-bottom: 20px;
    }
    .package-image1 {
        width: 60px;
        height: 60px;
    }
    .package-pricelist {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 30px;
    }
    .package-content1 {
       height: 570px;
       padding-inline: 50px;
       margin-top: 10px;
       margin-left: 0px;
       width: 350px;
    }
    .package-content1 h2 {
        font-size: 30px;
    }
    .package-content1 p {
        font-size: 20px;
    }
    .package-content1 h3 {
        font-size: 30px;
    }
    .package-content1 h3 span {
        font-size: 50px;
    }

    .package-image2 {
        width: 60px;
        height: 60px;
    }
    .package-content2 {
       height: 570px;
       padding-inline: 50px;
       margin-top: 60px;
       margin-left: 0px;
       width: 350px;
    }
    .package-content2 h2 {
        font-size: 30px;
    }
    .package-content2 p {
        font-size: 20px;
    }
    .package-content2 h3 {
        font-size: 30px;
    }
    .package-content2 h3 span {
        font-size: 50px;
    }


    #review {
        padding-bottom: 50px;
    }
    .bg-image1 {
        width: 150px;
    }   
    .review-content {
        padding-inline: 140px;
    }
    #review-content1 h3 {
        font-size: 20px;
        margin-top: 20px;
    }
    #review-content1 h5 {
        font-size: 20px;
    }
    #review-content2 h3 {
        font-size: 20px;
        margin-top: 20px;
    }
    #review-content2 h5 {
        font-size: 20px;
    }
    #review-content3 h3 {
        font-size: 20px;
        margin-top: 20px;
    }
    #review-content3 h5 {
        font-size: 20px;
    }


    #blog {
        margin-bottom: 80px;
        padding-inline: 40px;
    }
    .blog-section1 h1 {
        font-size: 40px;
        letter-spacing: -1px;
        width: 350px;
    }
    .blog-section-para p {
        width: 350px;
        font-size: 18px;
    }
    .phychology-image1 {
        width: 350px;
        height: 400px;
        border-radius: 20px;
        margin-top: 10px;
        overflow: hidden;
    }
    .phy-image1 {
        width: 350px;
        height: 400px;
        transition: transform 0.3s ease;
    }
    .blog-section2 p {
        font-size: 20px;
    }
    .phychology-image2{
        width: 350px;
        height: 400px;
        overflow: hidden;
        border-radius: 20px;
        margin-top: 70px;
    }
    .phy-image2 {
        width: 350px;
        height: 400px;
        transition: transform 0.3s ease;    
    }
    .blog-section2 h3 {
        font-size: 18px;
    }
    .blog-section2 h2 {
        font-size: 30px;
    }


    .appoinment-container .footerbtn {
        margin-bottom: 70px;
        margin-top: 30px;
    }


    .footer-heading {
        margin-top: -200px;
        margin-left: 100px;
    }
    .footer-office {
        padding-left: 0px;
    }
    .footer-section2 {
        padding-left: 20px;
    }
    .link {
        padding-left: 10px;
    }
    .link a {
        padding-top: 20px;
    }
    .footer-office {
        width: 200px;
        padding-left: 30px;
    }
    .address{
        padding-top: 10px;
        width: 150px;
    }
    .get-in {
        color: #fff;
        padding-left: 50px;
    }
    .footer-icons {
        display: flex;
        gap: 5px;
    }

    .footer-line {
        padding-top: 50px;
        margin-inline: 40px;
    }
    .copy-rights {
        padding-left: 45px;
    }
}



@media (max-width:520px) {

    .btn {
        font-size: 15px;
        padding-block: 15px;
        border-radius: 50px;
        letter-spacing: 0px;
    }

    #header {
        padding-inline: 10px;
        padding-block: 20px;
    }
    .logo-image {
        width: 30px;
        height: 30px;
    }
    .main-heading h1 {
        font-size: 25px;
        letter-spacing: -1px;
    }
    .header-btn {
        display: none;
    }
    .menu-icon {
        font-size: 25px;
    }
    .phone-icon {
        padding: 8px;
        border-radius: 25px;
        font-size: 15px;
    }


    #home {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-inline: 20px;
        padding-block: 10px;
    }
    .home-content p {
        font-size: 15px;
        margin-top: 50px;
    }
    .home-content h1 {
        font-size: 35px;
        padding-block: 10px;
    }
    .home-content button {
        font-size: 15px;
    }
    .calender {
        margin-block:  50px;
        width: 320px;
    }
    .days {
        padding-inline: 10px;
     }
     .dates {
        padding-inline: 10px;
     }
    
    .our-services-section1 {
        display: flex;  
        flex-direction: column;
        justify-content: center;
        padding-inline: 20px;
        padding-block: 50px;
    }
    .section1-content1 {
        width: 100%;
    }
    .section1-content1-text p {
        font-size: 17px;
    }
    .section2-container2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section1-profile {
        padding-block: 20px;
    }
    .profile-image {
        width: 70px;
        height: 70px;
    }
    .section1-content2 {
        width: 100%;
    }
    .section1-content2 p {
        font-size: 17px;
    }
    .section1-content2 .para1 i {
        font-size: 25px;
    }
    .section1-content3 p {
        font-size: 17px;
    }
    .section1-content3 {
        width: 100%;
        margin-top: -20px;
    }
    .section2-container2 {
        margin-top: -30px;
    }

    .main-request {
        display: flex;
        flex-direction: column;
        position: absolute;
        position: fixed;
        top: 0px;
        left: 0px;
        justify-content: center;
        width: 100%;
    }

    .please-chat i {
        font-size: 15px;
        padding: 15px;
    }
    .please-chat p {
        font-size: 13px;
    }

    .our-services-section2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding-inline: 15px;
        padding-bottom: 20px;
    }
    .online-therapy {
        width:310px;
        height: 330px;
    }
    .online-therapy-text {
        padding-top: 235px;
    }
    .online-therapy-text h1 {
        font-size: 25px;
    }
    .online-therapy-text p {
        font-size: 16px;
    }
    .family-therapy {
        width: 310px;
        height: 330px;
    }
    .family-therapy-text {
        padding-top: 235px;
    }
    .family-therapy-text h1 {
        font-size: 25px;
    }
    .family-therapy-text p {
        font-size: 16px;
    }
    .group-therapy {
        width: 310px;
        height: 330px;
    }
    .group-therapy-text {
        padding-top: 235px;
    }
    .group-therapy-text h1 {
        font-size: 25px;
    }
    .group-therapy-text p {
        font-size: 16px;
    }
    .our-services-btn {
        margin-top: 10px;
    }


    #support {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .support-section1-context1 {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .support-section1 {
        padding-top: 50px;
        position: relative;
        height: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .support-section2 {
        margin-top: -20px;
        margin-bottom: -20px;
    }
    .section1-text {
        width: 310px;
        height: 100px;
        padding-inline: 30px;
    }
    .section1-text h3 {
        font-size: 15px;
        padding-top: 10px;
    }
    .section1-text i {
        display: none;
    }
    .section1-text h2 {
        font-size: 23px;
        padding-top: 10px;
    }
    .section1-image1 {
        width: 310px;
        height: 170px;
        margin-left: 0px;
    }
    .section1-image2 {
        width: 310px;
        height: 180px;
        margin-top: 10px;
    }
    .support-section2 {
        padding-top: 0px;
        overflow: none;
        height: 100%;
    }
    .support-section2-text h1 {
        font-size: 28px;
        margin-top: -10px;
    }
    .humanistic {
        padding-top: 30px;
    }
    .humanistic h3 {
        font-size: 20px;
    }
    .Behavioral {
        padding-top: 30px;
    }
    .Behavioral h3 {
        font-size: 20px;
    }
    .Interpersonal {
        padding-top: 30px;
    }
    .Interpersonal h3 {
        font-size: 20px;
    }
    .Mindfullness {
        padding-top: 30px;
    }
    .Mindfullness h3 {
        font-size: 20px;
    }
    .Existential {
        padding-top: 30px;
    }
    .Existential h3 {
        font-size: 20px;
    }


    .playbtn {
        color: #fff;
        border: 1px solid #fff; 
    }
    #video {
        width: 300px;
        height: 200px;
     }


    .input-heading h1 {
        font-size: 25px;
        width: 100%;
        letter-spacing: -1px;
        padding-inline: 25px;
    }
    .inputs-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-block: 50px;
        padding-inline: 10px;
    }
    .input-section {
        display: flex;
        gap: 0px;
    }
    .input-email input{
        font-size: 15px;
        width: 200px;
        padding-bottom: 5px;
    }
    .input-line {
        width: 180px;
    }
    .checkbox {
        padding-top: 10PX;
    }
    .checkbox label {
        font-size: 12px;
        padding-left: 2px;
    }


    .package-pricelist {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .package-content1 {
        padding-inline: 10px;
        width: 310px;
        height: 490px;
        margin-inline: 20px;
        padding: 10px;
        padding-top: 30px;
    }
    .package-content2 {
        width: 310px;
        height: 490px;
        padding: 10px;
        padding-top: 30px;
    }
    .package-content3 {
        margin-top: 50px;
        margin-left: 0px;
        padding-inline: 20px;
        width: 100%;
    }
    .package-content3 h3 {
        font-size: 15px;
        letter-spacing: 0px;
    }
    .package-content3 h1 {
        font-size: 30px;
    }
    .package-content3 p {
        font-size: 17px;
    }


    .review-content {
        padding-inline: 10px;
    }
    #review-content1 p {
        font-size: 17px;
    }
    #review-content1 h3 {
        font-size: 20px;
    }
    #review-content1 h5 {
        font-size: 17px;
    }
    #review-content2 p {
        font-size: 17px;
    }
    #review-content2 h3 {
        font-size: 20px;
    }
    #review-content2 h5 {
        font-size: 17px;
    }
    #review-content3 p {
        font-size: 17px;
    }
    #review-content3 h3 {
        font-size: 20px;
    }
    #review-content3 h5 {
        font-size: 17px;
    }
    .profile-image1 {
        width: 60px;
    }
    .profile-image2 {
        width: 60px;
    }
    .profile-image3 {
        width: 60px;
    }
    .bg-image1 {
       top: 100;
       width: 80px;
       display: none;
    }


    #blog {
        padding-inline: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column ;
        justify-content: center;
    }
    #blog h4 {
        margin-top: 50px;
    }
    .blog-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .blog-section1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .blog-section1 h1 {
        margin-block: -5px;
        width: 280px;
    }
    .blog-section-para {
        margin-top: -10px;
        margin-bottom: 18px;
    }
    .blog-section-para p {
        padding-left: 0px;
        width: 310px;
    }
    .blog-section-para .para1 {
        font-size: 17px;
    }
    .blog-section-para .para2 {
        font-size: 17px;
    }
    .blog-section1 h1 {
        font-size: 30px;
    }
    .blog-section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .phychology-image1 {
        width: 310px;
        height: 350px;
    }
    .phy-image1 {
        width: 310px;
        height: 350px;
    }
    .phychology-image2 {
        width: 310px;
        height: 350px;
    }
    .phy-image2 {
        width: 310px;
        height: 350px;
    }
    .blog-section2 h3 {
        font-size: 15px;
    }
    .blog-section2 h2 {
        font-size: 25px;
    }
    .phychology-image2{
        margin-top: -10px;
    }


    .appoinment-container h3 {
        padding-top: 30px;
    }
    .appoinment-container h1 {
        font-size: 30px;
    }
    .appoinment-container .footerbtn {
        margin-block: 30px;
        margin-bottom: 50px;
    }


    .footer-heading {
        margin-top: -30px;
    }
    .footer-office {
        margin-top: 20px;
        margin-left: 60px;
    }
    .address {
        margin-top: 2px;
    }
    .email {
        padding-top: 10px;
    }
    .num {
        font-size: 17px;
        margin-bottom: 30px;
        margin-top: -10px;
    }
    .link {
        margin-left: 60px;
    }
    .link a {
        padding-top: 15px;
    }
    .get-in {
        margin-left: 20px;
        margin-top: 30px;
    }
    .get-in h1 {
        font-size: 20px;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
    }
    .footer-section1 {
        display: flex;
        flex-direction: column;
    }
    .footer-section2 {
        display: flex;
        flex-direction: column;
    }

    .footer-icons {
        display: flex;
        gap: 5px;
        padding-top: 10px;
    }
    .footer-line {
        padding-top: 30px;
        margin-inline: 15px;
    }   
    .copy-rights {
        font-size: 15px;
        padding-block: 10px;
    }
}